body {
    background-color: #f4f1f1;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .formulario {
    background-color: #f2eded;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #444;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="10" height="6" xmlns="http://www.w3.org/2000/svg"><path fill="black" d="M0 0l5 6 5-6z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 6px;
  }
  
  button {
    background-color: #cdb5f4;
    color: #333;
    border: none;
    padding: 12px;
    border-radius: 12px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #b19cd9;
  }
  